body{
    background-color:white;  
  }
  .satish{
    /* color:rgb(91, 82, 82); */
    border: solid;
    border-radius: 7px;
    border-color:rgb(21, 21, 21);
    border-width: 2px;
    margin-top: 10px;
    border: 100%;
  }
  .date{
    /* background-color: aqua; */
    text-align: start;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 7px;
   
  }
  .rcb{
    list-style: none;
    display: flex;
    text-transform: uppercase;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  .name{
    margin-left: 10px;
  }
  .mimg{
    
    height: 16px;
  }
 
  
  .gt{
  list-style: none;
  display: flex;
  text-transform: uppercase;
  margin-left: 10px;
  }
  .gimg{
  height: 15px;
  }
  .name{
  margin-left: 10px;
  }
  
  .who_w_the_match{
  margin-left: 10px;
  margin-top: 4px;
  margin-bottom: 10px;
  }
  .all{
    text-decoration:none;
  }
  
  .rimg{
  height: 15px;
  width: 15px;
  }
  
  .gaints{
    justify-content: end;
    padding-left: 85%;
    }
  .mumbai{
    justify-content: end;
    padding-left: 84%;
    }
  .war{
    justify-content: end;
    padding-left: 83%;
    }
  
  .delhi{
    justify-content:flex-end;
    padding-left: 80%;
    }
    .royal{
      justify-content: flex-end;
      padding-left: 77%;
    }
  footer{
    background-color: rgb(24, 30, 30);
    color:white;
    text-align: center;
    margin-top: 10px;
    border-radius: 6px;
  }
