body{
    background-color: rgb(50, 177, 30);  
}
.satish{
    color:white;
    border: solid;
    border-radius: 7px;
    border-color:rgb(21, 21, 21);
    border-width: 2px;
    margin-top: 10px;
}
.date{
    /* background-color: aqua; */
    text-align: start;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 7px;
   
}
.mumbai{
    list-style: none;
    display: flex;
    text-transform: uppercase;
    margin-left: 10px;
    margin-bottom: 5px;
}
.mname{
    margin-left: 10px;
}
.mimg{
    
    height: 16px;
}

  
.gt{
  list-style: none;
  display: flex;
  text-transform: uppercase;
  margin-left: 10px;
}
.gimg{
  height: 15px;
}
.gname{
  margin-left: 10px;
}

.who_w_the_match{
  margin-left: 10px;
  margin-top: 4px;
  margin-bottom: 10px;
}
.all{
    text-decoration:none;
}

.rimg{
  height: 15px;
  width: 15px;
}
.mum{
  justify-content: flex-end;
  padding-left: 84%;
}
.royal{
  justify-content: flex-end;
  padding-left: 77%;
}
.war{
  justify-content: flex-end;
  padding-left: 81%;
}
.delhi{
  justify-content: flex-end;
  padding-left: 80%;
}
.gaints{
  justify-content: flex-end;
  padding-left: 85%;
}
footer{
    background-color: rgb(24, 30, 30);
    color:white;
    text-align: center;
    margin-top: 10px;
    border-radius: 6px;
}